In [1]:
# If, elif(outras condições antes do else) and Else

In [2]:
if 2 == 2:
    print('its True')

its True

In [4]:
2==2

True

In [5]:
hungry = False
if hungry:
    print('feed me')
else: 
    print("Im not hungry")

Im not hungry

In [6]:
hungry = True
if hungry:
    print('feed me')
else: 
    print("Im not hungry")

feed me

In [8]:
loc = 'Auto Shop'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the Auto Shop!

In [9]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [10]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

In [11]:
# For Loops

In [12]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [13]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
for FORlist in mylist:
    print(FORlist)

1
2
3
4
5
6
7
8
9
10

In [16]:
# não precisa ser precisamente referente ao código ou elemento que acabamos de escrever

In [17]:
for num in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [23]:
for FORlist in mylist:
    if FORlist % 2 == 0:
        print(FORlist)
    else:
        print(f'Número não par: {FORlist}')

Número não par: 1
2
Número não par: 3
4
Número não par: 5
6
Número não par: 7
8
Número não par: 9
10

In [24]:
list_sum = 0

In [25]:
for FORlist in mylist:
    list_sum = list_sum + FORlist
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [26]:
for FORlist in mylist:
    list_sum = list_sum + FORlist
    
print(list_sum)

110

In [27]:
mystr = 'Hello World'

for letter in mystr:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [28]:
for _ in 'Hello World':
    print("cool") 
    #vai printar a palavra desejada de acordo com quantas letras tem a frase ou elemento no for me cima

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [31]:
tup = (1,2,3)
    for item in tup
    print(item)

IndentationError: unexpected indent (1458481628.py, line 2)

In [34]:
mylist2 = [(1,2),(3,4),(5,6),(7,8)]

In [35]:
len(mylist2)

4

In [36]:
for item in mylist2:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [37]:
# touple unpacking, 'a' é o primeiro item e 'b' é o segundo em cada () 
for (a,b) in mylist2: 
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [38]:
for (a,b) in mylist2: 
    print(a)

1
3
5
7

In [39]:
# iteração pelo dicionário

In [40]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [41]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [43]:
for key, values in d.items():
    print(values)

1
2
3

In [44]:
for key, values in d.items():
    print(key)

k1
k2
k3

In [45]:
for values in d.values():
    print(values)

1
2
3

In [46]:
# WHILE LOOPS

In [63]:
x = 50
while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 # x += 1
else:         # else tem que estar encostado
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [ ]:
# BREAK, CONTINUE, PASS

In [66]:
x = [1,2,3]

for item in x:
    pass
print('end of script')

end of script

In [65]:
x

[1, 2, 3]

In [76]:
mystr12 = 'Sammy'

In [77]:
for letter in mystring3:
    if letter == a:
        continue # ignora x e continua
    print(letter)

S
a
m
m
y

In [78]:
for letter in mystring3:
    if letter == a:
        break # para em x
    print(letter)

S
a
m
m
y

In [79]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [103]:
# Useful operators

In [87]:
# IN RANGE
mylist = [1,2,3]

In [91]:
for num in range(3, 10):
     print(num)

3
4
5
6
7
8
9

In [92]:
for num in range(0, 11, 2):
     print(num)

0
2
4
6
8
10

In [94]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [96]:
# INDEx_COUNT
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count, letter))
    index_count += 1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e

In [97]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [100]:
#ENUMERATE
word = 'abcde'
for item in enumerate (word):
    print(item)
# printa em forma de touple

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [102]:
word = 'abcde'
for item in enumerate (word):
    print(item)
    print(letter)
    print('/n')

(0, 'a')
e
/n
(1, 'b')
e
/n
(2, 'c')
e
/n
(3, 'd')
e
/n
(4, 'e')
e
/n

In [104]:
#ZIP

In [108]:
mylist1 = [1,2,3,4,5,6] # ignora os extras
mylist2 = ['a',"b","c"]
mylist3 = [100,200,300]

In [110]:
for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [111]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [112]:
# IN

In [113]:
'x' in [1,2,3]

False

In [114]:
'x' in ['x','y','z']

True

In [115]:
'a' in 'a word'

True

In [117]:
'mykey' in {'mykey': 12}

True

In [119]:
d = {'mykey': 12}

12 in d.values()

True

In [121]:
d = {'mykey': 12}

12 in d.keys()

False

In [123]:
#MIN and MAX
mylist = [10,20,30,40,100]

In [124]:
min(mylist)

10

In [125]:
max(mylist)

100

In [126]:
#SHUFFLE IMPORT
from random import shuffle

In [127]:
mylist = [3,4,5,6,7,8,9,10]

In [131]:
shuffle(mylist)

In [132]:
mylist

[4, 5, 7, 9, 6, 3, 10, 8]

In [133]:
from random import randint

In [134]:
randint(0,100)

94

In [135]:
mynum = randint(0,100)

In [ ]:
mynum(5)

In [ ]:
#INPUT
input('name') # vai aparecer uma janela para se inserir algo

In [2]:
result = input('Enter Something into this box: ') #acaeita resultados como str

Enter Something into this box: 30

In [3]:
result # retorna me forma de str

'30'

In [4]:
int(result)

30

In [5]:
#List Comprehension

In [10]:
mystring = 'hello'

In [11]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [12]:
mylist

['h', 'e', 'l', 'l', 'o']

In [13]:
mylist = [letter for letter in mystring]

In [14]:
mylist

['h', 'e', 'l', 'l', 'o']

In [15]:
mylist = [num for num in range(0,11)]

In [17]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
mylist = [num**2 for num in range(0,11)]

In [19]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [22]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [23]:
mylist

[0, 2, 4, 6, 8, 10]

In [24]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ] #FORMA MAIS CURTA

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [30]:
celsius = [0,10,20.1,34.5]

In [32]:
fahrenheit = []
for temp in celsius:
    fahrenheit.append(((9/5)*temp + 32))
    # 2 JEITOS DIFERENTES DE SE FAZER

In [33]:
fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [35]:
# if else in list comprehesion

In [36]:
results = [x if x%2 == 0 else "ODD" for x in range(0,11)]

In [38]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [39]:
mylist = []
 
for x in [2,4,6]:
    for y in [10, 100,1000]:
        mylist.append(x*y)

In [40]:
mylist

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]

In [41]:
mylist = [x*y for x in [2,4,6] for y in [10, 100,1000]]

In [42]:
st = 'Print only the words that start with s in this sentence'

In [43]:
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [44]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [45]:
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [46]:
st = 'Print every word in this sentence that has an even number of letters'

In [47]:
for word in st.split():
    if len(word)%2 == 0:
        print(word+" <-- has an even length!")

word <-- has an even length!
in <-- has an even length!
this <-- has an even length!
sentence <-- has an even length!
that <-- has an even length!
an <-- has an even length!
even <-- has an even length!
number <-- has an even length!
of <-- has an even length!