In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [5]:
# DEF keyword

In [6]:
#def name_of_function(): 
#""
# Docstring explains function.
#""
#print('Hello')
#name_of_function(): 
# >> Hello
                                                                            #(snake casing = tudo lowercase + _)

In [9]:
def say_hello(): # quando a função for chamada, ela executará o que foi instruido
    print('Hello')
    print('are')
    print('you')

In [10]:
say_hello()

Hello
are
you

In [3]:
def say_hello(name = 'Default'): # coloca-se no parenteses da funçaõ, o que você irá pedir na hora de rodar o programa, pode ser mais de um alemento, e você pode atribuir um nome diferente para ele antes
    print(f'Hello {name}')

In [4]:
say_hello('Jose')

Hello Jose

In [16]:
def add_num(num1, num2): #o return salva o resultado como uma variável
    return num1+num2

In [18]:
result = add_num(10, 20)

In [19]:
result

30

In [20]:
#Logic

In [7]:
def even_check(number):
    result = number % 2 == 0
    return result

In [8]:
even_check(10)

True

In [25]:
even_check(25)

False

In [27]:
def even_check(number):
    return number % 2 == 0

In [28]:
# RETORNA TRUE SE UM NÙMERO È PAR DENTRO DE UMA LISTA

In [10]:
def check_even_list(num_list):
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
             pass
            
    return False # assim, ele percorre todos os números

In [11]:
check_even_list([1,3,5])

False

In [42]:
check_even_list([1,2,5])

True

In [43]:
# retorna numeros pares numa lista

In [59]:
def check_even_list(num_list):
    
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
             pass
    return even_numbers

In [60]:
check_even_list([1,2,3,4,5])

[2, 4]

In [61]:
check_even_list([1,3,4])

[4]

In [62]:
# Tuple Unpacking with Python Functions

In [63]:
stock_prices = [('App', 200),('Goo', 100),('MSF', 400)]

In [65]:
for item in stock_prices: 
    print(item)

('App', 200)
('Goo', 100)
('MSF', 400)

In [67]:
for ticker,price in stock_prices:
    print(price+(0,1*price))

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [68]:
work_hours = [('Abby', 400),('Billy', 100),('Cassy', 800)]

In [69]:
def employee_check(work_hours):
    
    # Set some max value to intially beat, like zero hours
    current_max = 0
    # Set some empty value before the loop
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    # Notice the indentation here
    return (employee_of_month,current_max)

In [70]:
employee_check(work_hours)

('Cassy', 800)

In [71]:
result = employee_check(work_hours)

In [72]:
name,hours = employee_check(work_hours)

In [73]:
name

'Cassy'

In [74]:
hours

800

In [75]:
#Interactions between Python Functions

In [76]:
example = [1,2,3,4,5,6,7]

In [80]:
from random import shuffle

In [81]:
shuffle(example)

In [82]:
example

[1, 3, 4, 7, 2, 5, 6]

In [83]:
def shuffle_list(mylist): # fazer um misturador
    shuffle(mylist)
    return mylist

In [84]:
result = shuffle_list(example)

In [85]:
result

[1, 3, 6, 5, 2, 4, 7]

In [86]:
mylist = [' ','O',' ']

In [87]:
def shuffle_list(mylist):
    # Take in list, and returned shuffle versioned
    shuffle(mylist)
    
    return mylist

In [88]:
mylist

[' ', 'O', ' ']

In [89]:
shuffle_list(mylist)

[' ', ' ', 'O']

In [ ]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        
        # Recall input() returns a string
        guess = input("Pick a number: 0, 1, or 2:  ")
    
    return int(guess)

In [ ]:
player_guess()

In [ ]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct Guess!')
    else:
        print('Wrong! Better luck next time')
        print(mylist)

In [ ]:
# Initial List
mylist = [' ','O',' ']

# Shuffle It
mixedup_list = shuffle_list(mylist)

# Get User's Guess
guess = player_guess()

# Check User's Guess
#------------------------
# Notice how this function takes in the input 
# based on the output of other functions!
check_guess(mixedup_list,guess)

In [2]:
def myfunc(name):
    print(f'Hello, my name is{name}')

In [5]:
myfunc(' Jose')

Hello, my name is Jose

In [21]:
def myfunc(test):
    if test == True:
        return 'Hello'
        
    elif test == False:
         return 'Goodbye'

In [10]:
# PARAMETROS ARGS AND KWARGS

In [28]:
def myfunc(a,b,c=0,d=0,e=0):
    return sum((a,b,c,d,e)) * 0.05 #retorna 5% da soma de a e b

In [29]:
myfunc(40,60)

5.0

In [30]:
myfunc(40,60,100,100,3,4)

TypeError: myfunc() takes 2 positional arguments but 6 were given

In [31]:
#ARGS permite mais inserções/ ultilizar quantos parâmetros você quiser/ vai ser tratado como uma tuple

In [32]:
def myfunc(*args):
    return sum(args) * 0.05

In [33]:
myfunc(40,60,100,100,3,4)

15.350000000000001

In [35]:
def myfunc(*args):
    for item in args:
        print(item)

In [36]:
myfunc(40,60,100,100,3,4)

40
60
100
100
3
4

In [38]:
#KWARGS --> dicionário de key/value pares

In [42]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit'])) #formats the specified value(s) and insert them inside the string's placeholder. The placeholder is defined using curly brackets: {}.
    else:
        print('I didnt find any fruit here')

In [43]:
myfunc(fruit = 'apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [44]:
#args transforma os valores que você quer em um armazenamento em tuple, ja o kwargs armazena-os em um dicionario

In [54]:
def myfunc(*args,**kwargs):
    print(args,kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food'])) #atribuir as posições

In [55]:
myfunc(10,20,30, fruit ='orange', food= 'eggs', animal= "dog" ) #os dois misturados

(10, 20, 30) {'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [1]:
# Exercise solutions:

In [9]:

#1 

def lesser_of_two_events (a,b):
    if a%2 == 0 and b%2 == 0:
        if a<b:
            result = a
        else: 
            result = b
    else:
        if a > b:
            result = a
        else:
            result = b
            
    return result

In [10]:
lesser_of_two_events (2,4)

2

In [11]:
def lesser_of_two_events (a,b):
    if a%2 == 0 and b%2 == 0:
        #numeros são pares
         result = min(a,b)
    else:
        #numeros são ímpares
         result = max(a,b) 
    return result

In [12]:
lesser_of_two_events (2,4)

2

In [13]:
lesser_of_two_events (7,5)

7

In [15]:
#2
def animal_crackers(text):
    wordlist = text.split() # para ter uma lista de 2 palavras
    first = wordlist[0]
    second = wordlist[1]
    return first[0] == second[0]

In [16]:
def animal_crackers(text):
    wordlist = text.split() # para ter uma lista de 2 palavras
    first = wordlist[0]
    second = wordlist[1]
    return wordlist[0][0] == wordlist[1][0]

In [17]:
def animal_crackers(text):
    wordlist = text.lower().split() # para ter uma lista de 2 palavras
    return wordlist[0][0] == wordlist[1][0]

In [18]:
 animal_crackers('Crazy cat')

True

In [20]:
#3
def makes_twenty(n1,n2):
    if n1 + n2 == 20:
        return True
    elif n1 == 20:
        return True
    elif n2 == 20:
        return True
    else:
        return False

In [21]:
makes_twenty(10,10)

True

In [22]:
makes_twenty(20,10)

True

In [23]:
makes_twenty(7,10)

False

In [24]:
# OU

In [25]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [26]:
makes_twenty(7,10)

False

In [27]:
#Level 1 Solutions

In [28]:
def old_macdonald(name): #capitalize deixa a a letra em upper, sempre a primera da seção
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [29]:
def old_macdonald(name):
    first_letter = name[0]
    inbetween_char = name[1:3]
    fourth_letter = name[3]
    rest = name[4:]
    return first_letter.upper() + inbetween_char +  fourth_letter.upper() +  rest

In [30]:
old_macdonald('macdonald')

'macdonald'

In [32]:
def old_macdonald(name):
    first_half = name[:3]
    second_half = name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [33]:
 old_macdonald('macdonald')

'MacDonald'

In [34]:
# retornar uma sentença com as palavras invertidas

In [44]:
def master_yoda(text):
    wordlist = text.split()
    reversed_wordlist = wordlist[::-1]
    return ' '.join(reversed_wordlist)

In [45]:
master_yoda('I am ready')

'ready am I'

In [37]:
# juntar os itens de uma lista:

In [39]:
mylist = ['a','b','c']

In [40]:
" ".join(mylist)

'a b c'

In [41]:
"".join(mylist)

'abc'

In [51]:
#abs.num() = retorna o valor absoluto de um número

In [47]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [48]:
# Check
almost_there(90)

True

In [49]:
# Check
almost_there(104)

True

In [50]:
# Check
almost_there(150)

False

In [52]:
# Level 2 solutions

In [66]:
def has_33(nums):
    for i in range(0,len(nums)-1):
            if nums[i] == 3 and nums [i + 1] == 3:
                      return True
    return False

In [67]:
has_33([1,3,3])

True

In [68]:
has_33([1,3,1,3])

False

In [69]:
def has_33(nums):
    for i in range(0,len(nums)-1):
            if nums[i] == 3 and nums [i + 1] == 3:
                      return True
    return False

In [70]:
#2 # PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
   # paper_doll('Hello') --> 'HHHeeellllllooo'
   # paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [71]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [72]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [73]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [74]:
# Check
blackjack(5,6,7)

18

In [75]:
# Check
blackjack(9,9,9)

'BUST'

In [76]:
#3

In [84]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [85]:
summer_69([1, 3, 5])

9

In [86]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [87]:
# Challenge problems

In [88]:
#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     #spy_game([1,2,4,0,0,7,5]) --> True
     #spy_game([1,0,2,4,0,5,7]) --> True
     #spy_game([1,7,2,0,4,5,0]) --> False

In [89]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [90]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [91]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [92]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [93]:
#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    #count_primes(100) --> 25

#By convention, 0 and 1 are not prime.

In [94]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [96]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [97]:
#Lambda Expressions, Map, and Filter Functions

In [98]:
def square(num):
    return num**2

In [100]:
my_nums = [1,2,3,4,5]

In [101]:
map(square,my_nums) # precisa de uma função executavel, seguida de algo iterável. Faz uma ser executada na outra

In [102]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [103]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [104]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [108]:
names = ['Andy','Eve','Sally']

In [109]:
list(map(splicer,names))

['even', 'E', 'S']

In [110]:
#aqui, foi retornado em forma de lista, os nome do objeto iterável adaptados a função, Andy(é even), os outros, não, então só é retornada a primeira letra deles

In [111]:
#Filter

In [112]:
def check_even(num):
    return num%2 == 0

In [113]:
mynums= [1,2,3,4,5,6]

In [114]:
#só quero pegar números pares ou etc/ o map aplica para todos os números(no caso do exemplo), já o filter é baseado na condição da função(só para os números selecionados)

In [115]:
filter(check_even,mynums)

In [116]:
list(filter(check_even,mynums))

[2, 4, 6]

In [118]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [119]:
#Lambda = função anonima que se usa 1 vez

In [120]:
def square(num):
    result = num**2
    return result

In [121]:
square(3)

9

In [127]:
def square(num):
    
    return num ** 2

In [128]:
square(3)

9

In [129]:
square = lambda num: num ** 2

In [130]:
square(3)

9

In [133]:
list(map(lambda num: num ** 2, mynums)) #juntando tudo

[1, 4, 9, 16, 25, 36]

In [134]:
list(filter(lambda num: num ** 2, mynums))

[1, 2, 3, 4, 5, 6]

In [137]:
list(map(lambda x:x[0], names))

['A', 'E', 'S']

In [138]:
list(map(lambda x:x[::-1], names))

['ydnA', 'evE', 'yllaS']

In [139]:
#Nested Statements(onde é guardado) and Scope(determina a visibilidade do nome da variável)

In [145]:
x =25
def printer():
    x = 50
    return x

In [147]:
print(x)

25

In [148]:
print(printer())

50

In [149]:
#LEGB como py assimila as variáveis

In [150]:
#Local

In [151]:
lambda num:num**2 #num é local a expressaõ lambda

In [152]:
#Enclosing --> quando existe uma função dentro de uma função/ a executada é a que é especificada

In [158]:
name = 'This is a global name'

def greet():
    # Enclosing function
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    
    hello()

greet()

Hello Sammy

In [157]:
#Built in --> funcionalidade do sistema(comandos verdes)

In [159]:
print(name)

This is a global name

In [160]:
### Local Variables/Escopo
# When you declare variables inside a function definition, they are not related in any way to other variables with the same names used outside the function - i.e. variable names are local to the function. This is called the scope of the variable. All variables have the scope of the block they are declared in starting from the point of definition of the name.

In [164]:
x = 50

def func(x):
    print(f'x is, {x}') # USAR f'XXXXXXXX{X}' PARA PEGAR O VALOR DA VARIÀVEL DENTRO DE UMA STRING, SEM TIRA-LA DA STRING
    x = 2
    print('Changed local x to', x) 

func(x)
print('x is still', x)

x is, 50
Changed local x to 2
x is still 50

In [165]:
#GLOBAL

In [166]:
#The first time that we print the value of the name **x** with the first line in the function’s body, Python uses the value of the parameter declared in the main block, above the function definition.

#Next, we assign the value 2 to **x**. The name **x** is local to our function. So, when we change the value of **x** in the function, the **x** defined in the main block remains unaffected.

#With the last print statement, we display the value of **x** as defined in the main block, thereby confirming that it is actually unaffected by the local assignment within the previously called function.

## The <code>global</code> statement
#If you want to assign a value to a name defined at the top level of the program (i.e. not inside any kind of scope such as functions or classes), then you have to tell Python that the name is not local, but it is global. We do this using the <code>global</code> statement. It is impossible to assign a value to a variable defined outside a function without the global statement.

#You can use the values of such variables defined outside the function (assuming there is no variable with the same name within the function). However, this is not encouraged and should be avoided since it becomes unclear to the reader of the program as to where that variable’s definition is. Using the <code>global</code> statement makes it amply clear that the variable is defined in an outermost block.

#Example:

In [167]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because of global x is: ', x)
    x = 2
    print('Ran func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because of global x is:  50
Ran func(), changed global x to 2
Value of x (outside of func()) is:  2

In [168]:
#The <code>global</code> statement is used to declare that **x** is a global variable - hence, when we assign a value to **x** inside the function, that change is reflected when we use the value of **x** in the main block.

#You can specify more than one global variable using the same global statement e.g. <code>global x, y, z</code>.

In [169]:
#EXERCÌCIOS

In [171]:
# Functions and Methods Homework Solutions
#**Write a function that computes the volume of a sphere given its radius.**

In [172]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [173]:
# Check
vol(2)

33.49333333333333

In [174]:
#**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [175]:
def ran_check(num,low,high):
    #Check if num is between low and high (including low and high)
    if num in range(low,high+1):
        print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print('The number is outside the range.')

In [176]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

In [178]:
def ran_bool(num,low,high): #para retornar boolean
    return num in range(low,high+1)

In [179]:
ran_bool(3,1,10)

True

In [180]:
#____
#**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

   # Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
   # Expected Output : 
   # No. of Upper case characters : 4
    #No. of Lower case Characters : 33

#If you feel ambitious, explore the Collections module to solve this problem!

In [181]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [182]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

In [183]:

#**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

   # Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    #Unique List : [1, 2, 3, 4, 5]

In [184]:
def unique_list(lst):
    # Also possible to use list(set())
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x

In [185]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [186]:
#
#**Write a Python function to multiply all the numbers in a list.**

   # Sample List : [1, 2, 3, -4]
   # Expected Output : -24

In [187]:
def multiply(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total

In [188]:
multiply([1,2,3,-4])

-24

In [189]:
#REVISAR